<script lang="ts">
    import ChatGPT from "../api";

    export let key: string = null;
    let selection: string = '';
    let question: string = '';
    let includeSelection: boolean = true;
    let showSelection: boolean = false;

    
    function save() {
        const apiKey = {'apiKey': key};
        chrome.storage.session.set(apiKey).then(() => {
            response = "Options saved!";
            
            setTimeout(() => {
                response = null;
                chrome.storage.session.get('apiKey').then(r => console.log(r));
            }, 1500);
        });
    }
    
    async function ask() {
        canAsk = false;

        if (includeSelection) {
            question += "\n" + selection;
        }

        response = await api.ask(question);
        canAsk = true;
    }
    
    $: chrome.storage.session.get('selection').then(s => {
        selection = s.selection;
    });
    $: api = new ChatGPT(key);
    $: response = '';
    $: canAsk = true;
</script>

<div class="container">
    <div>
        Open API Key: <input type="password" bind:value={key} placeholder="OpenAI Key..."/>
        <button on:click={save}>Save</button>
        <br>
        <p>Show selection text at bottom: <input type="checkbox"checked={showSelection} on:change={() => {showSelection = !showSelection}}></p>
        <hr>
        <br>
        <textarea bind:value={question} placeholder="Ask your question..."></textarea>
        <p>Include selected text:<input type="checkbox" checked={includeSelection} on:change={() => {includeSelection = !includeSelection}}></p>
        <button disabled={!canAsk} on:click={ask}>Ask</button>
        <div>          
            <p>{#if response}<span class="success">{response}</span>{/if}</p>
        </div>
    </div>
    {#if showSelection}
    <p>selected text: {#if selection} {selection} {/if}</p>
    {/if}
</div>

<style>
    .container {
        min-width: 250px;
    }

    button {
        border-radius: 2px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
        background-color: #2ecc71;
        color: #ecf0f1;
        transition: background-color 0.3s;
        padding: 5px 10px;
        border: none;
    }

    button:disabled,
    button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    }

    button:hover,
    button:focus {
        background-color: #27ae60;
    }

    .success {
        color: #2ecc71;
        font-weight: bold;
    }
</style>
