<script lang="ts">
    import { onMount } from "svelte";
    import Options from "./Options.svelte";

    let key = "";

    onMount(() => {
        chrome.storage.session.get('apiKey').then((s) => {
            key = s.apiKey;
        });
    });
</script>

<div class="overlay">
    <Options key={key} />
</div>

<style>
    .overlay {
        position: fixed;
        z-index: 100000;
        top: 16px;
        left: 16px;
        background-color: white;
        border: 1px solid black;
        padding: 4px;
    }
</style>
